<!--Author: Teodor Djelic-->

{% extends 'base.html' %}

{% block title %}
	Login
{% endblock %}

{% block css_style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/blocks.css' %}">
{% endblock %}

{% block js_script %}
	<script src="{% static 'js/login.js' %}" defer></script>
{% endblock %}

{% block body %}
    <main>
        <form class="block" method="post">
            <p> Log in </p>
            
            {% csrf_token %}
            <div style="padding: 10px; padding-bottom: 15px;">
                <p id="errorMsg">{{ errorMessage }}</p>
            </div>
            <label>
                {{ form.username }}
                <span class="placeholder" for="{{ form.username.id_for_label }}">Username/Email</span>
                {{ form.username.errors }}
        
            </label>

            <label>                
                {{ form.password }}
                <span class="placeholder" for="{{ form.password.id_for_label }}">Password</span>
                {{ form.password.errors }}
            </label>

            <div class="line">
                <a href='/register'>Register</a>
                <a href='/recovery'>Forgot my password</a>
                <button class="active bg-danger" onclick="onClick()" type="submit">Log in</button>
            </div>
        </form>
    </main>
{% endblock %}

