{% extends 'base.html' %}

{% block title %}
	Password Recovery
{% endblock %}

{% block css_style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/blocks.css' %}">
{% endblock %}

{% block js_script %}
	<script src="{% static 'js/recovery.js' %}" defer></script>
{% endblock %}

{% block body %}
    <main>
        <div class="block">
            <p> Password recovery </p>

            <div style="padding: 10px; padding-bottom: 15px;">
                <p id="errorMsg"></p>
            </div>

            <label>
                <input id="username" type="text" class="textfield" onchange="updateUColors()" required>
                <span class="placeholder">Username</span>
            </label>

            <button class="active bg-danger" style="width: 100%;" onclick="onClick()">Send</button>
        </div>
    </main>
{% endblock %}

