{% extends 'base.html' %}

{% block title %}
	Register
{% endblock %}

{% block css_style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/blocks.css' %}">
{% endblock %}

{% block js_script %}
	<script src="{% static 'js/register.js' %}" defer></script>
{% endblock %}

{% block body %}
    <main>
        <form class="block" method="post">
            <p> Register </p>

            <div style="padding: 10px; padding-bottom: 15px;">
                <p id="errorMsg"></p>
            </div>

            {% csrf_token %}

            <div style="padding: 10px; padding-bottom: 15px;">
                <p id="errorMsg">{{ errorMessage }}</p>
            </div>
            <label>
                {{ form.username }}
                <span class="placeholder" for="{{ form.username.id_for_label }}">Username</span>
                {{ form.username.errors }}
            </label>

            <label>
                {{ form.email }}
                <span class="placeholder" for="{{ form.email.id_for_label }}">Email</span>
                {{ form.email.errors }}
            </label>

            <label>                
                {{ form.password1 }}
                <span class="placeholder" for="{{ form.password1.id_for_label }}">Password</span>
                {{ form.password1.errors }}
            </label>

            <label>                
                {{ form.password2 }}
                <span class="placeholder" for="{{ form.password2.id_for_label }}">Confirmed password</span>
                {{ form.password2.errors }}
            </label>

            <button type="submit" class="active bg-danger" style="width: 100%;" onclick="onClick()">Register</button>
        </div>
    </main>
{% endblock %}

