{% extends 'base.html' %}

{% block title %}
	Administrator
{% endblock %}

{% block css_style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block js_script %}
	<script src="{% static 'js/admin.js' %}" defer></script>
{% endblock %}

{% block body %}
    <div id="admin-admin" class="container bg-light">
        <div id="admin-admin-admin">
            Admin
        </div>
    </div>

    <div id="admin-set"class="container bg-light">
        <div class="row">
            <!-- Aktivan set i lista -->
            <div class="container col-3">
                {% csrf_token %}
                <div id="admin-active-set"class="container">
                    <span id="admin-active-set-display"class="font-weight-bold">
                        Active Set:
                    </span>
                    <span id="admin-active-set-name">
                        {{ activeSet.naziv }}
                    </span>
                </div>
                <form method = 'POST' id="admin-list-set"class="container">
                    {% csrf_token %}
                    <div id="admin-list"class="list-group overflow-auto">
                        {% for set in sets %}
                        	{% if set.active == 1 %}
                                <input name="select_set" type='submit' value = '{{ set.naziv }}' class="list-group-item list-group-item-action" disabled>
                            {% elif set.id == selected_set%}
                                <input name="select_set" type='submit' value = '{{ set.naziv }}' class="list-group-item list-group-item-action list-group-item-info">
                            {% else %}
                                <input name="select_set" type='submit' value = '{{ set.naziv }}' class="list-group-item list-group-item-action">
                        	{% endif %}
                        {% endfor %}
                    </div>
                </form>
            </div>
            <!-- Uredjivanje seta -->
            <div id="admin-set-change" class="container col-9">
                <form method = 'POST'>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="nameInput" class="font-weight-bold">Name: </label>
                        <input name='set_name' class="form-control" id="admin-name-input" value="{{ set_name }}" >
{#                        <input class="form-control" id="admin-name-input" value="Default Set 1">#}
                    </div>
                    <div class="form-group">
                        <label for="wordsInput" class="font-weight-bold">Words:</label>
                        <textarea name='set_words' class="form-control" id="admin-word-input" rows="5" >{{ set_words }}</textarea>
                    </div>

                    <div>
                        <span style="color: #da071a; font-size: large">{{ error_message }}</span> 
                        <span style="color: #069900; font-size: large">{{ success_message }}</span>
                    </div>

                    <div id="admin-buttons" class="container">
                        <input type="submit" name="activate_set" class="btn btn-warning font-weight-bold" value="ACTIVATE" onclick="return confirm('Are you sure that you want to activate this set?')">
                        <input type="submit"  name = "change_set" class="btn btn-success font-weight-bold" value="CHANGE" onclick="return confirm('Are you sure that you want to make changes to the words in this set?')">
                        <input type="submit" name = "delete_set" class="btn btn-danger font-weight-bold" value="DELETE" onclick="return confirm('Are you sure that you want to remove this set?')">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

