{% extends 'base.html' %}

{% block title %}
	Codenames Online - Guesser
{% endblock %}

{% block css_style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/pogadjanjePojma.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}



{% block js_script %}
    <script>

        var word_dict = {{ gamestate.game_words|safe }};
        
        var True = true;
        var False = false;
        function autoReload(){

            var myTurn = {{ myTurn }};

            if (!myTurn) {
                location.reload()
            }
        }
        setInterval(autoReload, 5000);
    </script>
	<script src="{% static 'js/pogadjanjePojma.js' %}" defer></script>
{% endblock %}

{% block body %}
<div class="container" id="guesser-wrapper">
    <div class="row">
        <div class="container col-2 bg-light main guesser-game-area">
            <div class="row">
                <span style="color: #af0000; font-size: x-large; font-weight: 650; margin-bottom: 10px">Red clues:</span>
            </div>
            <div class="row bg-white main" style="height: 90%;  box-shadow: 0px 3px 3px black; padding: 15px; font-weight: 500;">
                <ul class="no-bullets">
                  {% for clue in gamestate.red_clues %}
                    	<li>{{ clue }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>



        <div class="col-8">
            <div class="container bg-light main guesser-game-area">
              <div class="row text-center">
                <div class="col">
                  <h1>CLUE: {{ gamestate.clue }} {{ gamestate.clue_num }}</h1>
                </div>

              </div>
              <div class="row">
                <div class="col">
                  <div class="d-flex justify-content-center">
                      <table>
                        {% for key, value in gamestate.game_words.items %}
                            {% if forloop.counter0|divisibleby:5 or forloop.first %}
                                <tr>
                            {% endif %}

                            <td>
                                {% with color=value.0 %}
                                    <div class="box {{ color }}" id="box{{ forloop.counter }}">{{ key }}</div>
                                {% endwith %}
                            </td>

                            {% if forloop.counter0|add:1|divisibleby:5 or forloop.last %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                      </table>
                  </div>
                </div>
              </div>

              <div class="row centered mt-3">
                <div class="container row align-items-center text-center">
                  <div class="col">
                  
                      {% if myTurn %}
                            <button type="submit" class="btn btn-primary " onclick="guess()">GUESS</button>
                      {% else %}
                          <button type="submit" class="btn btn-primary " disabled onclick="guess()">GUESS</button>
                      {% endif %}
                    
                  </div>
                  <div class="col">
                      {% if myTurn %}
                        <button type="submit" class="btn btn-primary " onclick="end_guess()">End Turn</button>
                      {% else %}
                          <button type="submit" class="btn btn-primary " disabled onclick="end_guess()">End Turn</button>
                      {% endif %}
                      
                    
                  </div>
                </div>
              </div>

            </div>
        </div>

        <div class="container col-2  bg-light main guesser-game-area">
            <div class="row">
                <span style="color: #0101b6; font-size: x-large; font-weight: 650; margin-bottom: 10px">Blue clues:</span>
            </div>
            <div class="row bg-white main" style="height: 90%;  box-shadow: 0px 3px 3px black; padding: 15px; font-weight: 500;">
                <ul class="no-bullets">
                    {% for clue in gamestate.blue_clues %}
                    	<li>{{ clue }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
</div>
{% endblock %}

