{% extends 'base.html' %}

{% block title %}
	Codenames Online - Guesser
{% endblock %}

{% block css_style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/pogadjanjePojma.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}



{% block js_script %}
    <script>
        var word_dict = {{ gamestate.game_words|safe }};
    </script>
	<script src="{% static 'js/pogadjanjePojma.js' %}" defer></script>
{% endblock %}

{% block body %}
    <div id="guesser-wrapper">
<div class="container mt-5 bg-light main" id="guesser-game-area">
  <div class="row text-center">
    <div class="col">
      <h1>CLUE: {{ gamestate.clue }} {{ gamestate.clue_num }}</h1>
    </div>

  </div>
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center">
          <table>
            {% for key, value in gamestate.game_words.items %}
                {% if forloop.counter0|divisibleby:5 or forloop.first %}
                    <tr>
                {% endif %}
                
                <td>
                    {% with color=value.0 %}
                        <div class="box {{ color }}" id="box{{ forloop.counter }}">{{ key }}</div>
                    {% endwith %}
                </td>

                {% if forloop.counter0|add:1|divisibleby:5 or forloop.last %}
                    </tr>
                {% endif %}
            {% endfor %}
          </table>
      </div>
    </div>
  </div>

  <div class="row centered mt-3">
    <div class="container row align-items-center text-center">
      <div class="col">
        <button type="submit" class="btn btn-primary " onclick="guess()">GUESS</button>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary " onclick="guess()">End Turn</button>
      </div>
    </div>
  </div>

</div>
    </div>
{% endblock %}

