{% extends 'base.html' %}

{% block title %}
	Codenames Online - Leader
{% endblock %}

{% block css_style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/zadavanjeAsocijacija.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block js_script %}
	<script src="{% static 'js/zadavanjeAsocijacija.js' %}" defer></script>
    <script>
        var word_dict = {{ gamestate.game_words|safe }}
        var True = true;
        var False = false;
        function autoReload(){
            var myTurn = {{ myTurn }};

            if (!myTurn) {
                location.reload()
            }
        }
        setInterval(autoReload, 5000);
    </script>
    
{% endblock %}

{% block body %}
    <div id="leader-wrapper">
<div class="container mt-5 bg-light main" id="leader-game-area">
  <div class="row text-center">
    <div class="col">
      <h1>Think of a clue!</h1>
    </div>
    
  </div>
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center">
        <div class="board">
          <table>
            {% for key, value in gamestate.game_words.items %}
                {% if forloop.counter0|divisibleby:5 or forloop.first %}
                    <tr>
                {% endif %}
                
                <td>
                    {% with color=value.0 %}
                        <div class="box {{ color }}" id="box{{ forloop.counter }}">{{ key }}</div>
                    {% endwith %}
                </td>

                {% if forloop.counter0|add:1|divisibleby:5 or forloop.last %}
                    </tr>
                {% endif %}
            {% endfor %}
          </table>
          
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3 justify-content-center">
        <form method="post">
            {% csrf_token %}
          <div class="container row align-items-center text-center">
          <div class="col">
            <label for="{{ form.clue.id_for_label }}">{{ form.clue.label }}:</label>
          </div>
          <div class="col">
              {{ form.clue }}
{#            <input type="text" class="form-control" id="input1" >#}
          </div>
          <div class="col">
            <label for="{{ form.clue_num.id_for_label }}">{{ form.clue_num.label}}:</label>
          </div>
          <div class="col">
              {{ form.clue_num }}
{#            <input type="number" class="form-control" id="input2" min="1" value="1">#}
          </div>
          <div class="col">
{#            <button type="submit" class="btn btn-primary" onclick="skoci()">Give Word</button>#}
              {% if myTurn %}
                  <input type="submit" class="btn btn-primary">
              {% else %}
                  <input type="submit" class="btn btn-primary" disabled>
              {% endif %} 
              
          </div>
          </div>
        </form>    
  </div>
  
</div>
    </div>
{% endblock %}

