{% extends 'base.html' %}

{% block title %}
	Codenames Online - Reroll Words
{% endblock %}

{% block css_style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reroll.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block js_script %}
	<script src="{% static 'js/reroll.js' %}" defer></script>
{% endblock %}

{% block body %}
<div class="container mt-5 bg-light main">
  <div class="row text-center">
    <div class="col">
      <h2>Select up to 3 words to Re-Roll</h2>
    </div>

  </div>
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center">
          <table>
            <tr>
                <td><div class="box" id="box1">Zamak</div></td>
                <td><div class="box" id="box2">Hleb</div></td>
                <td><div class="box" id="box3">Nebo</div></td>
                <td><div class="box" id="box4">Jastuk</div></td>
            </tr>
            <tr>
                <td><div class="box" id="box6">Koza</div></td>
                <td><div class="box" id="box7">Primirije</div></td>
                <td><div class="box" id="box8">Crna</div></td>
                <td><div class="box" id="box9">Loptica</div></td>
            </tr>
          </table>
      </div>
    </div>
  </div>

  <div class="row centered mt-3">
    <div class="container row align-items-center text-center">
      <div class="col">
        <button id="re-roll-submit-button" type="submit" class="btn btn-primary " onclick="reRoll()">Re-roll</button>
      </div>
    </div>
  </div>

</div>
{% endblock %}

