{% extends 'base.html' %}

{% block title %}
	Codenames Online - Reroll Words
{% endblock %}

{% block css_style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reroll.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block js_script %}
	<script src="{% static 'js/reroll.js' %}" defer></script>
    <script>
        const word_dict = {{ gamestate.game_words|safe }};
        const remaining_words = {{ gamestate.remaining_words|safe }};
        var True = true;
        var False = false;
        function autoReload(){
            var myTurn = {{ myTurn }};

            if (!myTurn) {
                location.reload()
            }
        }
        setInterval(autoReload, 5000);
    </script>
{% endblock %}

{% block body %}
    <div id="reroll-wrapper">
<div class="container mt-5 bg-light main" id="reroll-game-area">
  <div class="row text-center">
    <div class="col">
      <h2>Select up to 3 words to Re-Roll</h2>
    </div>

  </div>
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center">
        <table>
          {% for key, value in specific_player_words.items %}
                {% if forloop.counter0|divisibleby:5 or forloop.first %}
                    <tr>
                {% endif %}
              
                {% with color=value.0 %}
                    {% if color == "red" %}
                    <td>
                        <div class="box {{ color }}" id="box{{ forloop.counter }}">{{ key }}</div>
                    </td>
                    {% else %}
                    {% endif %}
                {% endwith %}
                {% if forloop.counter0|add:1|divisibleby:5 or forloop.last %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
      </div>
    </div>
  </div>

  <div class="row centered mt-3">
    <div class="container row align-items-center text-center">
      <div class="col">
          {% if myTurn %}
              <button id="re-roll-submit-button" type="submit" class="btn btn-primary " onclick="reRoll()">Re-roll</button>
          {% else %}
              <button id="re-roll-submit-button" type="submit" class="btn btn-primary " disabled onclick="reRoll()">Re-roll</button>
          {% endif %} 
        
      </div>
    </div>
  </div>

</div>
    </div>
{% endblock %}

