{% extends 'base.html' %}

{% block title %}
	Team Select
{% endblock %}

{% block css_style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/teamSelection.css' %}">
{% endblock %}

{% block js_script %}
	<script src="{% static 'js/teamSelection.js' %}" defer></script>
{% endblock %}

{% block body %}
    <main>

        <div class="teamBlock">

            <h1>RED TEAM</h1>

            <picture>
                <img src={% static 'resources/team_select_red.jpg' %} alt="" />
            </picture>

            <textarea readonly disabled id="igraci1">

            </textarea>

            <div class="teamBlockButtons">
                <form action="/game/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="playerId" value="0">
                    <input type="submit" id="0" value="Join as leader">
                </form>

                <form action="/game/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="playerId" value="1">
                    <input type="submit" id="1" value="Join as guesser">
                </form>
            </div>

            <h2 id="setRed">DEFAULT SET</h2>
        </div>

        <div class="teamBlock">

            <h1>BLUE TEAM</h1>

            <picture>
                <img src={% static 'resources/team_select_blue.jpg' %} alt="" />
            </picture>

            <textarea readonly disabled id="igraci2"></textarea>

            <div class="teamBlockButtons">
                <form action="/game/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="playerId" value="2">
                    <input type="submit" id="2" value="Join as leader">
                </form>

                <form action="/game/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="playerId" value="3">
                    <input type="submit" id="3" value="Join as guesser">
                </form>
            </div>

            <h2 id="setBlue">DEFAULT SET</h2>
        </div>

    </main>
{% endblock %}

