{% extends 'base.html' %}

{% block title %}
	Codenames Online - Victory Screen
{% endblock %}

{% block css_style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/victoryScreen.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block body %}
	<div id="victory-wrapper">
        <div class="container mt-5 bg-light main center" id="victory-area">
            <div class="row text-center">
                <div class="container col-12 h1">
                    {% if teamWon == "Blue" %}
                    	<span style="color: darkblue; font-size: xxx-large; font-weight: 750;">{{ teamWon }}</span> team wins!
                    {% elif teamWon == "Red"%}
                        <span style="color: darkred; font-size: xxx-large; font-weight: 750;">{{ teamWon }}</span> team wins!
                    {% endif %}


                    

                </div>

            </div>

        </div>


    </div>
{% endblock %}